<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./media/react.png" type="image/x-icon" />
    <link rel="stylesheet" href="./static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />
    <title>The Name Show</title>
  </head>

  <body>
    <div id="container">
      <nav id="navbar">
        <h1 id="navbarname">The Name Show</h1>
        <ul>
          <li><a href="#blogs">Blogs</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </nav>
      <aside id="aside"><h2>Aside section for texts Qoutes</h2></aside>
      <main id="main">
        <div class="content">
          <div class="intro">
            <h1 id="introtext">Welcome</h1>
          </div>
        </div>

        <div class="card1"><h1>Card for blog 1</h1></div>
        <div class="card2"><h1>Card for blog 2</h1></div>
      </main>
      <footer><h3>Footer</h3></footer>
    </div>
  </body>
</html>
