<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog.css" type="css/text">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/qoutes.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>About</title>
</head>

<body>
    <nav id="hamnav">
        <h2>TheNameShow</h2>
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger" />

        <div id="hamitems">
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/about">About</a>
            <a href="#">Join a Session</a>
        </div>
    </nav>
    <p>{{ retrive("About/Thenameshow/") }}</p>
    <br>
    <br> This site in under development, do comeback later to find out wonders. x-x
    <br><a href="/">Go to Homepage</a>
</body>

</html>