<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog.css" type="css/text">
    <title>About</title>
</head>

<body>
    <p>{{ retrive("About/Thenameshow/") }}</p>
    <br>
    <br> This site in under development, do comeback later to find out wonders. x-x
    <br><a href="/">Go to Homepage</a>
</body>

</html>