<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>The Name Show</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">TheNameShow</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./blog.html"
                >Blogs</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Join Session</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <section class="tm-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <div class="tm-blog-post">
              <h3 class="tm-gold-text">Screaming Eagles</h3>

              <p>
                Happy birthday blog and whatnot. 4 years now since this all
                started, and this is my 101st post. Been a while since the last
                one but I guess work and life caught up with me and the interest
                in blogging had started to wane a bit. Blogging.. so two years
                ago? I don't know, it's difficult to sustain a reasonable
                audience if you don't give them frequent reading material. And
                then you're back to square one, typing up stuff to post it where
                no one would read it. I'm sure there's a few of you still out
                there who log on here every once in a while. I just hope my
                recent hiatus hasn't scared the rest of you off. Was going to
                rant on about a few things. Mainly about disrespect to red
                traffic lights as well as assorted misgivings about the current
                shape of Bahraini society. I'm stuck at work, however, and
                methinks that some sleep now in anticipation of a possibly busy
                night would aid me greatly in surviving the work week ahead. Oh
                well, here's to passing the 100 mark. Will try to keep it up for
                as long as I can, I suppose.
              </p>
            </div>

            <div class="row tm-margin-t-big">
              <p>More Blogs</p>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="tm-content-box">
                  <img
                    src="/tm-img-310x180-2.jpg"
                    alt="Image"
                    class="tm-margin-b-30 img-fluid"
                  />
                  <h4 class="tm-margin-b-20 tm-gold-text">Good Point</h4>
                  <p class="tm-margin-b-20">
                    Having a terrible morning all round today. Overworked and
                    undervalued, I was sitting in the clinic and I locked myself
                    in the room for half an hour to clear my thoughts before
                    seeing any patients.
                  </p>
                  <a href="#" class="tm-btn text-uppercase">Read More</a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="tm-content-box">
                  <img
                    src="tm-img-310x180-2.jpg"
                    alt="Image"
                    class="tm-margin-b-30 img-fluid"
                  />
                  <h4 class="tm-margin-b-20 tm-gold-text">Gripe</h4>
                  <p class="tm-margin-b-20">
                    Been back in Bahrain for a while now, just started working.
                    Feels good to be doktoring around after a long layoff.
                  </p>
                  <a href="#" class="tm-btn text-uppercase">Read More</a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="tm-content-box">
                  <img
                    src="tm-img-310x180-3.jpg"
                    alt="Image"
                    class="tm-margin-b-30 img-fluid"
                  />
                  <h4 class="tm-margin-b-20 tm-gold-text">
                    Times they are a changin'
                  </h4>
                  <p class="tm-margin-b-20">
                    Major changes have recently occured in my life, both
                    personally and professionally. We're approaching five years
                    since the inception of this blog.
                  </p>
                  <a href="#" class="tm-btn text-uppercase">Read More</a>
                </div>
              </div>
            </div>
          </div>

          <aside
            class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r"
          ></aside>
        </div>
      </div>
    </section>

    <footer class="tm-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 tm-copyright-col">
            <p class="tm-copyright-text">Copyright &copy; 2021 The Name Show</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
