<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheNameShow</title>
    <link rel="stylesheet" href="../static/css/qoutes.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
</head>

<body>

    {% set cont= retrive("Content/Musings/1") %}
    <nav id="hamnav">
        <h2>TheNameShow</h2>
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger" />

        <div id="hamitems">
            <a href="/">Home</a>
            <a href="/blogs">Blogs</a>
            <a href="/about">About</a>
            <a href="#">Join a Session</a>
        </div>
    </nav>
    <div class="container-lg c2">
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    {{ cont }} </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/2") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/3/") }}
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/4/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/5/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/6/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/7/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/8/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/9/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/10/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/11/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/12/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/13/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/14/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/15/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/16/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/17/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/18/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/19/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/20/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/21/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/22/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/23/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/24/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/25/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/26/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
        <div class="quote-box1">
            <div class="quote1">
                <div class="blockquote1">
                    "{{ retrive("Content/Musings/27/") }}"
                </div>
            </div>
            <div class="name1">
                <p>{{ retrive("Content/Musings/Author/") }}</p>
            </div>
        </div>
    </div>
    <footer class="tm-footer">
        <div class="container-fluid">
            <div class="mainfoot">
                <div class="row">
                    <div class="col-xs-12 tm-copyright-col">
                        <p class="tm-copyright-text">
                            Copyright &copy; 2021 TheNameShow |ALL RIGHTS RESERVED|
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>