<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheNameShow</title>
    <link rel="stylesheet" href="../static/css/qoutes.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
  </head>
  <body>
    <nav id="hamnav">
      <h2>TheNameShow</h2>
      <label for="hamburger">&#9776;</label>
      <input type="checkbox" id="hamburger" />

      <div id="hamitems">
        <a href="/blog">Blogs</a>
        <a href="/quotes">Quotes</a>
        <a href="#">Join a Session</a>
      </div>
    </nav>
    <div class="container-lg c2">
      <div class="quote-box1">
        <div class="quote1">
          <div class="blockquote1">
            "The secret of getting ahead is getting started. The secret of
            getting started is breaking your complex overwhelming tasks into
            small manageable tasks, and starting on the first one."
          </div>
        </div>
        <div class="name1">
          <p>Mark Twain</p>
        </div>
      </div>
      <div class="quote-box1">
        <div class="quote1">
          <div class="blockquote1">
            "The secret of getting ahead is getting started. The secret of
            getting started is breaking your complex overwhelming tasks into
            small manageable tasks, and starting on the first one."
          </div>
        </div>
        <div class="name1">
          <p>Mark Twain</p>
        </div>
      </div>
      <div class="quote-box1">
        <div class="quote1">
          <div class="blockquote1">
            "The secret of getting ahead is getting started. The secret of
            getting started is breaking your complex overwhelming tasks into
            small manageable tasks, and starting on the first one."
          </div>
        </div>
        <div class="name1">
          <p>Mark Twain</p>
        </div>
      </div>
      <div class="quote-box1">
        <div class="quote1">
          <div class="blockquote1">
            "The secret of getting ahead is getting started. The secret of
            getting started is breaking your complex overwhelming tasks into
            small manageable tasks, and starting on the first one."
          </div>
        </div>
        <div class="name1">
          <p>Mark Twain</p>
        </div>
      </div>
      <div class="quote-box1">
        <div class="quote1">
          <div class="blockquote1">
            "The secret of getting ahead is getting started. The secret of
            getting started is breaking your complex overwhelming tasks into
            small manageable tasks, and starting on the first one."
          </div>
        </div>
        <div class="name1">
          <p>Mark Twain</p>
        </div>
      </div>
    </div>
    <footer class="tm-footer">
      <div class="container-fluid">
        <div class="mainfoot">
          <div class="row">
            <div class="col-xs-12 tm-copyright-col">
              <p class="tm-copyright-text">
                Copyright &copy; 2021 TheNameShow |ALL RIGHTS RESERVED|
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
